Repository will9288/pyinstrument: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, build

pyright:
  name: pyright
  entry: pyright --venv-path .
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.134

build:
  name: build js bundle
  entry: bin/build_js_bundle.py --force
  language: node
  pass_filenames: false

Fix merge issues
  pyinstrument/frame.py
  pyinstrument/frame_ops.py
  pyinstrument/magic/magic.py
  pyinstrument/renderers/console.py
  pyinstrument/renderers/speedscope.py
  test/util.py
Due: pyright

Fix ipython test
  test/test_ipython_magic.py
Due: pyright

Some modernisations from pyupgrade
  .pre-commit-config.yaml
  pyinstrument/__main__.py
  pyinstrument/frame.py
  pyinstrument/low_level/stat_profile_python.py
  pyinstrument/magic/magic.py
  pyinstrument/renderers/speedscope.py
  pyinstrument/stack_sampler.py
  test/test_cmdline.py
  test/test_profiler.py
Due: pyright

Add a CPython 3.11 version using PyFrame_GetLocals
  pyinstrument/low_level/stat_profile.c
Due: none

Remove some debug code
  pyinstrument/low_level/stat_profile.c
Due: none

Bump joerick/cibuildwheel from 2.8.0 to 2.8.1
  .github/workflows/wheels.yml
Due: none

Upgrade Django MIDDLEWARE setting in the docs
  docs/guide.md
Due: none

Expose interval option in CLI
  pyinstrument/__main__.py
  test/test_cmdline.py
Due: pyright

Add newline at end of file & decrease test interval
  test/test_cmdline.py
Due: pyright

Add radio button for proportional time in HTML renderer
  html_renderer/src/App.vue
  html_renderer/src/Frame.vue
  html_renderer/src/Header.vue
  html_renderer/src/appState.js
  html_renderer/src/model/Frame.js
  pyinstrument/renderers/html_resources/app.js
Due: build

Bump joerick/cibuildwheel from 2.8.1 to 2.9.0
  .github/workflows/wheels.yml
Due: none

Made conditional for formattedTime more robust, added Error case
  html_renderer/src/Frame.vue
  pyinstrument/renderers/html_resources/app.js
Due: build

Refactor to only call PyFrame_GetLocals if we really have to
  pyinstrument/low_level/stat_profile.c
Due: none

Add get_frame_info metrics script
  metrics/frame_info.py
Due: pyright

Bump version: v4.3.0
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright

added asyncio support to cell magic
  pyinstrument/magic/magic.py
Due: pyright

Bump joerick/cibuildwheel from 2.9.0 to 2.10.1
  .github/workflows/wheels.yml
Due: none

Fix greenlet dep
  requirements-dev.txt
Due: none

Keeping async_mode disabled by default for safety
  pyinstrument/magic/magic.py
Due: pyright

Bump joerick/cibuildwheel from 2.10.1 to 2.10.2
  .github/workflows/wheels.yml
Due: none

add setup for developing in docker container using vscode
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/reinstall-cmake.sh
  .gitignore
Due: none

Fix runpy trimming when used at the command line (#215)
  examples/busy_wait.py
  pyinstrument/__main__.py
  pyinstrument/processors.py
  pyinstrument/renderers/console.py
  pyinstrument/renderers/html.py
  pyinstrument/renderers/jsonrenderer.py
  pyinstrument/renderers/speedscope.py
  test/test_cmdline.py
Due: pyright

first stab at updated c code for `tracebackhide`
  pyinstrument/low_level/stat_profile.c
Due: none

adden hidden to frame data on python side
  pyinstrument/low_level/stat_profile_python.py
Due: pyright

added processor code to hide `tracebackhidden` frames
  pyinstrument/frame.py
  pyinstrument/processors.py
Due: pyright

added `remove_hidden` to `default_processors`
  pyinstrument/renderers/console.py
  pyinstrument/renderers/html.py
  pyinstrument/renderers/jsonrenderer.py
  pyinstrument/renderers/speedscope.py
Due: pyright

added warning about asyncio in jupyter notebooks
  pyinstrument/magic/magic.py
Due: pyright

fix c api code for `_get_tracebackhide`
  pyinstrument/low_level/stat_profile.c
Due: none

add py 3.11 compatible version of `_get_tracebackhide`
  pyinstrument/low_level/stat_profile.c
Due: none

fixup code defining `Frame.hidden` prop
  pyinstrument/frame.py
  pyinstrument/frame_info.py
Due: pyright

fix python implementation of `frame_hidden` in `get_frame_info`
  pyinstrument/low_level/stat_profile_python.py
Due: pyright

added unittest for `remove_hidden` to `test/test_processors.py`
  test/test_processors.py
Due: pyright

test correct `__tracebackhide__==True` behavior in `test_frame_info.py`
  test/low_level/test_frame_info.py
Due: pyright

bugfix: check `co_nlocals` not `co_argcount` at start of `_get_tracebackhide`
  pyinstrument/low_level/stat_profile.c
Due: none

more thoroughly test lowlevel `__tracebackhide__` behavior in `test_frame_info.py`
  test/low_level/test_frame_info.py
Due: pyright

Make the warning conditions a bit stricter
  pyinstrument/magic/magic.py
Due: pyright

made requested changes to `test_frame_info.py`
  test/low_level/test_frame_info.py
Due: pyright

Rename some things
  pyinstrument/frame.py
  pyinstrument/frame_info.py
  pyinstrument/processors.py
  pyinstrument/renderers/console.py
  pyinstrument/renderers/html.py
  pyinstrument/renderers/jsonrenderer.py
  pyinstrument/renderers/speedscope.py
  test/test_processors.py
Due: pyright

Reduce duplication of C functions
  pyinstrument/low_level/stat_profile.c
Due: none

Change the logic to only include the attribute if the variable is present
  pyinstrument/low_level/stat_profile.c
  pyinstrument/low_level/stat_profile_python.py
Due: pyright

Path conditions:
  pyright: any of: \.py$, but not: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor
  build: any of: html_renderer/.*, but not: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor
