Repository will9288/pyinstrument: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, build

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3

-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        entry: pyright --venv-path .
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ['pyright@1.1.134']
    -   id: build
        name: build js bundle
        entry: bin/build_js_bundle.py --force
        files: html_renderer/.*
        language: node
        pass_filenames: false

exclude: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor

Bump version: v4.5.1
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright

Make dev dependencies more specific
  .github/workflows/test.yml
  requirements-dev.txt
  setup.py
Due: pyright

Upgrade greenlet dep for 3.12 compat
  setup.py
Due: pyright

ipython is a dev dependency
  requirements-dev.txt
  setup.py
Due: pyright

Fix unrelated pyright error
  pyinstrument/magic/magic.py
Due: pyright

Reset sys.argv after the child script is run
  pyinstrument/__main__.py
Due: pyright

Ensure this test is actually working
  test/test_cmdline.py
Due: pyright

HTML renderer: show session name in header
  html_renderer/src/lib/Header.svelte
  pyinstrument/renderers/html_resources/app.js
Due: build

Move trio imports inside the tests to prevent segfaults on import
  test/fake_time_util.py
  test/test_profiler_async.py
  test/util.py
Due: pyright

Remove unnecessary trio import:
  test/test_profiler.py
Due: pyright

Stop windows ignoring test failures?
  .github/workflows/test.yml
Due: none

Fix test on windows
  test/test_processors.py
Due: pyright

Add test that fails on windows for binary data roundtripping
  test/test_pstats_renderer.py
Due: pyright

pre-commit fixes
  test/test_pstats_renderer.py
Due: pyright

Add a test for binary output at the command line
  test/test_cmdline.py
Due: pyright

Fix problem with binary output on windows
  pyinstrument/__main__.py
  test/test_pstats_renderer.py
Due: pyright

Make tests quicker with a shorter busywait
  test/util.py
Due: pyright

Add test for show_all and timeline options
  test/test_renderers.py
Due: pyright

Fix bug with timeline/show_all args
  pyinstrument/renderers/base.py
Due: pyright

fix test
  test/test_pstats_renderer.py
Due: pyright

Update cibuildwheel
  .github/workflows/wheels.yml
Due: none

disable fail-fast on the tests
  .github/workflows/test.yml
Due: none

show session name below the header
  html_renderer/src/lib/Header.svelte
  pyinstrument/renderers/html_resources/app.js
Due: build

make it uppercase
  html_renderer/src/lib/Header.svelte
  pyinstrument/renderers/html_resources/app.css
  pyinstrument/renderers/html_resources/app.js
Due: build

Slightly restructure and fix a couple style issues
  html_renderer/src/App.svelte
  html_renderer/src/lib/Frame.svelte
  html_renderer/src/lib/Header.svelte
  pyinstrument/renderers/html_resources/app.css
  pyinstrument/renderers/html_resources/app.js
Due: build

Delete some unused code
  html_renderer/src/lib/Header.svelte
  pyinstrument/renderers/html_resources/app.js
Due: build

Revert accidental change
  html_renderer/src/lib/Frame.svelte
  pyinstrument/renderers/html_resources/app.js
Due: build

Bump version: v4.5.2
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright

Remove ascii-graph dependency
  .pre-commit-config.yaml
  metrics/overhead.py
  setup.py
Due: pyright

Bump version: v4.5.3
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright

write_html directly to file
  pyinstrument/profiler.py
Due: pyright

update docstring
  pyinstrument/profiler.py
Due: pyright

use new method instead of output_html in guide and metrics
  docs/guide.md
  metrics/interrupt.py
  metrics/overflow.py
  metrics/overhead.py
Due: pyright

Bump docker/setup-qemu-action from 2 to 3
  .github/workflows/test.yml
  .github/workflows/wheels.yml
Due: none

Bump joerick/cibuildwheel from 2.15.0 to 2.16.1
  .github/workflows/wheels.yml
Due: none

write as utf-8
  pyinstrument/profiler.py
Due: pyright

Add '-c' feature, so code can be passed on the command line
  pyinstrument/__main__.py
  test/test_cmdline.py
Due: pyright

Fix bug on windows with backslashes in string interpolation
  test/test_cmdline.py
Due: pyright

Bump joerick/cibuildwheel from 2.16.1 to 2.16.2
  .github/workflows/wheels.yml
Due: none

Bump version: v4.6.0
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright
