Repository will9288/pyinstrument: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, build

pyright:
  name: pyright
  entry: pyright --venv-path .
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.134

build:
  name: build js bundle
  entry: bin/build_js_bundle.py --force
  language: node
  pass_filenames: false

Fix pre-commit errors
  .devcontainer/Dockerfile
Due: none

Rename again
  pyinstrument/frame.py
  pyinstrument/frame_info.py
Due: pyright

Add click requirement for bump_version.py
  requirements-dev.txt
Due: none

Bump joerick/cibuildwheel from 2.10.2 to 2.11.1
  .github/workflows/wheels.yml
Due: none

Show the class name in the JS output
  html_renderer/src/Frame.vue
  html_renderer/src/model/Frame.js
  pyinstrument/renderers/html_resources/app.js
Due: build

Bump joerick/cibuildwheel from 2.11.1 to 2.11.2
  .github/workflows/wheels.yml
Due: none

Bump version: v4.4.0
  README.md
  docs/conf.py
  pyinstrument/__init__.py
  setup.py
Due: pyright

Add changelog entry
  README.md
Due: none

changelog correction
  README.md
Due: none

Add __all__ for type hint
  pyinstrument/__init__.py
Due: pyright

Use svelte for the HTML renderer
  .pre-commit-config.yaml
  bin/build_js_bundle.py
  html_renderer/.editorconfig
  html_renderer/.gitignore
  html_renderer/index.html
  html_renderer/package-lock.json
  html_renderer/package.json
  html_renderer/public/index.html
  html_renderer/src/App.svelte
  html_renderer/src/App.vue
  html_renderer/src/Frame.vue
  html_renderer/src/Header.vue
  html_renderer/src/app.css
  html_renderer/src/appState.js
  html_renderer/src/assets/favicon.png
  html_renderer/src/lib/Frame.svelte
  html_renderer/src/lib/Header.svelte
  html_renderer/src/lib/appState.ts
  html_renderer/src/lib/dataTypes.ts
  html_renderer/src/lib/model/Frame.ts
  html_renderer/src/lib/model/Group.ts
  html_renderer/src/lib/model/Session.ts
  html_renderer/src/main.js
  html_renderer/src/main.ts
  html_renderer/src/model/Frame.js
  html_renderer/src/vite-env.d.ts
  html_renderer/svelte.config.js
  html_renderer/tsconfig.json
  html_renderer/tsconfig.node.json
  html_renderer/vite.config.ts
  html_renderer/vue.config.js
  pyinstrument/renderers/html.py
  pyinstrument/renderers/html_resources/app.css
  pyinstrument/renderers/html_resources/app.js
Due: pyright, build

Fix manifest includes
  MANIFEST.in
Due: none

Fix some manifest issues
  MANIFEST.in
  setup.py
Due: pyright

Add check-manifest to build process
  .github/workflows/wheels.yml
Due: none

Update __init__.py
  pyinstrument/__init__.py
Due: pyright

Add falcon example
  docs/guide.md
  examples/falcon_hello.py
Due: pyright

Add falcon middleware example to write to file
  examples/falcon_hello_file.py
Due: pyright

Bump joerick/cibuildwheel from 2.11.2 to 2.11.3
  .github/workflows/wheels.yml
Due: none

Bump joerick/cibuildwheel from 2.11.3 to 2.11.4
  .github/workflows/wheels.yml
Due: none

Bump joerick/cibuildwheel from 2.11.4 to 2.12.1
  .github/workflows/wheels.yml
Due: none

Update precommit and fix issues
  .pre-commit-config.yaml
  docs/reference.md
  pyinstrument/magic/_utils.py
  pyinstrument/session.py
  test/test_profiler.py
Due: pyright

Update the type-checker and fix errors
  .pre-commit-config.yaml
  examples/async_experiment_1.py
  examples/async_experiment_3.py
  examples/wikipedia_article_word_count.py
  metrics/overflow.py
  pyinstrument/__main__.py
  pyinstrument/renderers/console.py
  pyinstrument/renderers/jsonrenderer.py
  pyinstrument/session.py
  pyinstrument/vendor/appdirs.py
  test/test_ipython_magic.py
Due: pyright

Don't bother running the build wheels step unless C has changed
  .github/workflows/wheels.yml
Due: none

Be bit more exacting about that logic
  .github/workflows/wheels.yml
Due: none

Bump joerick/cibuildwheel from 2.12.1 to 2.12.3
  .github/workflows/wheels.yml
Due: none

Add the workflow to the monitoring config
  .github/workflows/wheels.yml
Due: none

sorted functions in `processors.py`
  .devcontainer/devcontainer.json
  pyinstrument/processors.py
Due: pyright

Update pyinstrument/__main__.py
  pyinstrument/__main__.py
Due: pyright

bugfix: `--show-all` cmd line option is now passed down to Renderer
  pyinstrument/__main__.py
  pyinstrument/renderers/base.py
Due: pyright

addressed reviewer comments
  pyinstrument/renderers/base.py
Due: pyright

Update pyinstrument/processors.py
  pyinstrument/processors.py
Due: pyright

revert changes to processor.py, devcontainer.json; lint base.py
  .devcontainer/devcontainer.json
  pyinstrument/processors.py
  pyinstrument/renderers/base.py
Due: pyright

Add flat mode to console renderer
  pyinstrument/frame.py
  pyinstrument/renderers/console.py
Due: pyright

Fix total_self_time issue
  pyinstrument/frame.py
Due: pyright

use self_time
  pyinstrument/frame.py
  pyinstrument/renderers/console.py
Due: pyright

Update pyinstrument/renderers/base.py
  pyinstrument/renderers/base.py
Due: pyright

Add a readthedocs config file to address https://github.com/urllib3/urllib3/issues/2168
  .readthedocs.yaml
Due: none

Fix pre-commit error
  .readthedocs.yaml
Due: none

Make the test a little more readable
  test/test_pstats_renderer.py
Due: pyright

Fix pre-commit errors
  test/test_pstats_renderer.py
Due: pyright

Path conditions:
  pyright: any of: \.py$, but not: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor
  build: any of: html_renderer/.*, but not: ^pyinstrument/renderers/html_resources/app.js$|^pyinstrument/vendor
